.index {
  float: left;
  display: inline-block;
  width: 50%;
  margin-left: 150px;
  }

.cheatsheet {
  float: right;
  display: inline-block;
  width: 50%;
  margin-right: 150px;
  }

.index ul {
	list-style-type: none;
	text-decoration: none;
}

.index ul li a:link {
	text-decoration: none;
	color: black;	
}

.index ul li a:visited {
    text-decoration: none;
    color: black;
}

.index ul li a:hover {
    background-color: black;
    color: white;
}

.cheatsheet ul {
	list-style-type: none;
}
