.index {
  float: left;
  display: inline-block;
  margin-left: 150px;
  }

.cheatsheet {
  float: right;
  display: inline-block;
  width: 50%;
  margin-right: 150px;
  }

.index ul {
	list-style-type: none;
}

.index ul li a {
	text-decoration: none;
}

.cheatsheet ul {
	list-style-type: none;
}
