html {
background-color: #FFCCCC;
height: 100%;
margin: 0;
padding: 0;
}

body {
  font-family: Verdana;
  min-height: 100%;
}

/*menu*/

nav {
  margin: 0;
  text-align: center;
  padding: 0;
  font-size: 13px;
  background-color: #FFF;
  border-bottom: 1px solid white;
}

nav ul {
  text-align: left;
  display: inline;
  background-color: #FFF;
  text-decoration: none;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
}

nav ul li {
  font: bold 15px/18px sans-serif;
  color: #997A7A;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

nav ul li:hover {
  background: #555;
  color: #fff;
}

nav ul li a {
	text-decoration: none;
	color: #997A7A;
	display: block;
}

nav ul li:hover a{
	color: #FFFFFF;
	text-decoration: none;
}

nav ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}

nav ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

nav ul li ul li a {
	color: #fff;
	text-decoration: none;
}

nav ul li ul li:hover { 
	background: #666; }

nav ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/*menu end*/

.column-1 {
  float: left;
  display: inline-block;
  margin-left: 150px;
  }
  
.column-2 {
  float: right;
  display: inline-block;
  margin-right: 150px;
  }

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid white;
  border-width: 7px;
  padding: 5px;
}

#github {
  float: bottom;
  display: inline-block;
}  

#twitter {
  float: bottom;
  display: inline-block;
}  

#twitter_art {
  float: bottom;
  display: inline-block;
}
  
/*footer end */
h2 {
  display: inline-block;
  margin-left: 150px;
  font: 12px;
  }

.post {
  text-align: left;
  display: inline;
  background-color: #FFF;
  text-decoration: none;
  margin: 100px;
  padding: 15px 4px 17px 0;
  list-style: none;
}

/*cheatsheet*/
.index {
  float: left;
  display: inline-block;
  margin-left: 150px;
  }

.cheatsheet {
  float: right;
  display: inline-block;
  width: 50%;
  margin-right: 150px;
  }
