html {
background-color: #E6E6B8;
height: 100%;
position: relative;
margin: 0;
padding: 0;
}

header {
	margin-top: 1em;
	text-align: center;
	display: block;
	position: relative;
	float: top;
}


body {
	text-align: center;
	font-family: Verdana;
	padding: 0;
  font-size: 13px;
  min-height: 100%;
  margin: 0;
}

/*menu*/
ul {
  text-align: left;
  display: inline;
  background-color: #CACA94;
  text-decoration: none;
  margin: 0;
  padding: 15px 4px 17px 0;
  list-style: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

ul li {
  font: bold 12px/18px sans-serif;
  display: inline-block;
  margin-right: -4px;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

ul li:hover {
  background: #555;
  color: #fff;
}

ul li a {
	text-decoration: none;
	color: #000;
	display: block;
}

ul li:hover a{
	color: #FFFFFF;
	text-decoration: none;
}

ul li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  width: 150px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transiton: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -transition: opacity 0.2s;
}
ul li ul li { 
  background: #555; 
  display: block; 
  color: #fff;
  text-shadow: 0 -1px 0 #000;
}

ul li ul li a {
	color: #fff;
	text-decoration: none;
}

ul li ul li:hover { 
	background: #666; }

ul li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
/*menu end*/

.column-1 {
	display: inline-block;
  float : right;
  margin-right: 5%;
  width: 50%;
  height: 100%;
}

.column-2 {
	display: inline-block;
  float : left;
  margin-left: 5%;
  width: 50%;
  height: 100%;
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	/*display: block;*/
  clear: both;
}


#github {
   background: url(https://github.com/jkim97/jkim97.github.io/blob/master/Fullmoon/png/g6579.png?raw=true) no-repeat;
   background-size: 35px 35px;
   height: 3%;  /*  height of the phone image */
   width: 3%;   /*  width of the phone image */
   float: bottom;
   display: inline-block;
   margin: .25em;
}

#twitter {
   background: url(https://github.com/jkim97/jkim97.github.io/blob/master/Fullmoon/png/g6400.png?raw=true) no-repeat;
   background-size: 35px 35px;
   height: 3%;  /*  height of the phone image */
   width: 3%;   /*  width of the phone image */
   float: bottom;
   display: inline-block;
   margin: .25em;
}

#twitter_art {
   background: url(https://github.com/jkim97/jkim97.github.io/blob/master/Fullmoon/png/g6390.png?raw=true) no-repeat;
   background-size: 35px 35px;
   height: 3%;  /*  height of the phone image */
   width: 3%;   /*  width of the phone image */
   float: bottom;
   display: inline-block;
   margin: .25em;
}